
@import "compass/css3";


.fb-component {
    padding: 10px;
    cursor: move;
    input { cursor: move; }
    label { cursor: move; }
    select { cursor: move; }
    textarea { cursor: move; }
}
.fb-form-object-editable {
    padding: 15px;
    border: 1px solid #fff;
    margin-right:10px;
    border-radius:12px;
}
.fb-flow-container {
    max-height:350px;
    overflow-y:auto;
    border-bottom: 1px solid #eee;
}
.fb-form-label{
    margin-left:16px;
    margin-top:16px;
    font-size:16px;
    color:#bebebe;
}
.fb-form-object-editable.fb-draggable {
    cursor: move;
    input { cursor: move; }
    label { cursor: pointer; }
    select { cursor: move; }
    textarea { cursor: move; }
}
.fb-form-object-editable.empty {
    cursor: default;
    margin: 6px;
    height: 80px;
    border:dashed 1px #aaa;
    background-color: #f7f7f7;
}

.fb-draggable.dragging {
    background-color: #ffffff;
    position: absolute;
    border-radius:12px;
    padding-top:10px !important;
    z-index: 800;
    @include box-shadow(#d2cac7 0 0 5px);
}

.fb-required:after {
    color: #b94a48;
    content: ' *';
}

.fb-builder {
    min-height: 250px;
    padding-bottom: 15px;
}


.popover {
    .control-label {
        text-align: left;
    }
    form {
        width: 240px;
    }
}

.fb-seperator {
    clear:both;
    height:1px;
    background-color:#555555;
}

.fb-li{
    margin-left:25px;
    font-size:16px;
    color:#494641;
}

.fb-subinput{
    height: 22px;
    margin-top: -2px;
    margin-left: 15px;
    width: 145px;
    float: right;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
}

.fb-remove{
    color: #93292e;
    cursor:pointer;
}

.fb-add{
    color: #cca46a;
    font-size: 16px;
    cursor:pointer;
}

div.popover-content{
    max-height: 650px;
}

.fb-liner {
    clear:both;
    height:1px;
    background-color:#cca46a;
}
